* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-logo {
  font-family: "Josefin Sans", sans-serif;
}

.pt-100 {
  padding-top: 60px;
}

.pt-50 {
  padding-top: 50px;
}

.main-bg {
  background-attachment: fixed;
  height: 100vh;
}

.main-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.general-link-color {
  color: #9fa2a3;
  border-bottom: 2px solid #9fa2a3;
}

.general-link-color:hover {
  text-decoration: none;
  color: #9fa2a3;
  opacity: 0.8;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.header-content h1 {
  font-size: 50px;
  color: white;
  font-weight: bolder;
}

.header-content .lead {
  color: white;
}

.btn-light {
  padding: 20px;
  border-radius: 10px;
}

.work {
  padding-top: 50px;
}

.work h1 {
  text-align: center;
}

.projects-bottom {
  width: 100px;
}

.border-bottom-dark {
  border-top: 5px solid black;
}

.border-bottom-light {
  border-top: 5px solid #9fa2a3;
}

.parent-projects-bottom {
  display: flex;
  justify-content: center;
}

.projects-heading {
  padding: 30px 0px;
}

.project-description {
  text-align: center;
  padding: 20px;
  color: black;
}

.project-description h1 {
  font-size: 20px;
}

.project-link:hover {
  text-decoration: none;
}

.contact h1 {
  text-align: center;
}

.testimonials {
  background: #0f1822;
  color: #9fa2a3;
}

.contact {
  color: black;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-links .nav-link {
  color: black;
}

.about h1 {
  text-align: center;
}

.testimonials h1 {
  text-align: center;
}

.about-right-parent {
  background: #0f1822;
  color: #9fa2a3;
  display: flex;
  align-items: center;
}

.about-right {
  padding: 20px 25px;
}

.blogs h1 {
  text-align: center;
}

.experience h1 {
  text-align: center;
}

.blog-link {
  background: #0f1822;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

.blog-link:hover {
  color: #9fa2a3;
}

.blog-title {
  font-weight: bold;
}

.experience {
  margin-top: 60px;
  background: #0f1822;
  color: #9fa2a3;
}

@media (max-width: 550px) {
  .header-content h1 {
    font-size: 35px;
    padding: 0px 20px;
    text-align: center;
  }

  .header-content .lead {
    padding: 0px 20px;
    text-align: center;
  }

  .project-description h1 {
    font-size: 25px;
  }
}
